<div class="header">
	<ul class="nav nav-pills pull-right">
    <li class="active"> <a ng-href="#/questions">Questions</a></li>
    <li ><a ng-href="#/question">Register a new question</a></li>
    <li><a ng-href="#/scoreboard">Scoreboard</a></li>
  </ul>
  <h1 class="text-muted">All the registered questions</h1>
</div>

<div ng-controller="QuestionsCtrl">

	<table class="table table-striped"> 
		<tr> <th> Name</th> <th> Score</th><th> Category</th> <th> Timelimit</th> <th>Alternatives</th></tr>
			<tr ng-repeat="question in questions.questions">
			<td>{{question.questionText}}</td>
			<td>{{question.numberOfPoints}}</td>
			<td>{{question.category}}</td>
			<td>{{question.timeLimitSec}}</td>
			<td><div ng-repeat="alternative in question.alternatives"> {{alternative.answer}}</div></td>
		</tr> 	
	</table>
</div>

