<div class="header">
  <h3 class="text-muted">Questions</h3>
</div>

<div ng-controller="QuestionsCtrl">
	<table class="table table-striped"> 
		<tr> <th> Name</th> <th> Score</th><th> Category</th> <th> Timelimit</th> <th>Alternatives</th></tr>
			<tr ng-repeat="question in questions">
			<td>{{question.questionText}}</td>
			<td>{{question.numberOfPoints}}</td>
			<td>{{question.category}}</td>
			<td>{{question.timeLimitSec}}</td>
			<td><div ng-repeat="alternative in question.alternatives"> {{alternative.answer}}</div></td>
		</tr> 	
	</table>
</div>

