 <div class="header">
  <ul class="nav nav-pills pull-right">
    <li> <a ng-href="#/questions">Questions</a></li>
    <li class="active"><a ng-href="#/registerquestion">Register a new question</a></li>
    <li><a ng-href="#/scoreboard">Scoreboard</a></li>
  </ul>
<h1  class="text-muted">Register a question!</h1>
</div>

<div ng-controller="RegisterQuestionCtrl">
	<div id="name-group" class="form-group">
		<label>Question text</label>
		<input type="text" name="questionText" class="form-control" placeholder="The question" ng-model="question.questionText" autofocus>

		<label>Time limit</label>
		<select class="form-control" name="timeLimitSec" ng-model="question.timeLimitSec">
		<option>30</option>
		<option>60</option>
		<option>120</option>
		</select>

		<label>Number of points</label>
		<select class="form-control" name="numberOfPoints" ng-model="question.numberOfPoints">
		<option>10</option>
		<option>20</option>
		<option>30</option>
		<option>40</option>
		<option>50</option>
		</select>
	</div>
	<div id="alternatives-group" class="form-group">
		<label>Answer alternatives (radio marks correct)</label>
		<ul class="unstyled">
			<li ng-repeat="alternative in question.alternatives" class="question-alternative">
				<label class="answer">
					<input type="radio" ng-model="question.correctAnswer" value="{{alternative.id}}" />
					{{alternative.answer}}
				</label>
				<span class="glyphicon glyphicon-trash" ng-click="deleteAlternative(alternative)"></span>
			</li>
		</ul>
		<form ng-submit="addAlternative()" class="ng-pristine ng-valid">
			<input type="text" ng-model="answer" size="30" placeholder="answer alternative" class="ng-pristine ng-valid">
			<input class="btn-primary" type="submit" value="add">
		</form>
	</div>

	<!-- SUBMIT BUTTON -->
	<form ng-submit="saveQuestion()">
	<button type="submit" class="btn btn-success btn-lg btn-block" >
		<span class="glyphicon glyphicon-flash"></span> Submit!
	</button>
	</form>
</div>

